.main-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.form-title{
    font-weight: bold;
}

.form-card{
    display: flex;
    margin: auto;
    padding: 20px;

}

.form-container{
    display: flex;
    flex-direction: column;
}
.button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.form-container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
    margin-bottom: 100px;
    
}